<header>
    <!--<h3 style="text-align:center">Tenis</h3>-->
    <!--<img class="center-align" src="/resources/bannerbasket.jpg" style="align:center">-->
    <div align="center"><img class="responsive-img" src="/resources/banner.png" alt="banner" align="center"></div>
</header>
<main>
    <div ng-controller="TennisCtrl">
        <div class="container">
            <table class="highlight"><!--class="striped highlight"-->
                <thead>
                    <tr>
                        <th style="text-align:center" width="14%">Variable</th>
                        <th style="text-align:center" width="14%">Peso</th>
                        <th style="text-align:center" width="14%">Peso Recomendado</th>
                        <th style="text-align:center" width="14%">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataUnit in data">
                        <td style="text-align:center">{{dataUnit.variable}}</td>
                        <td style="text-align:center">{{dataUnit.weight}}</td>
                        <td style="text-align:center">{{dataUnit.recommendedweight}}</td>
                        <td style="text-align:center">
                            <button class="btn-floating waves-effect waves-light yellow darken-1 modal-trigger" ng-click="editDataModal(dataUnit)"><i class="material-icons">edit</i></button>
                            <!--<button class="btn-floating waves-effect waves-light yellow darken-1 modal-trigger" data-target="editModal"><i class="material-icons">create</i></button>-->
                            <!--<button class="btn-floating waves-effect waves-light red" ng-click="deleteData(dataUnit)"><i class="material-icons">delete</i></button>-->
                            <button class="btn-floating waves-effect waves-light red" ng-click="editDataDelete(dataUnit)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                    
                    <!--OldADD
                    <tr>
                        <td><input class="form-control" ng-model="newData.variable" style="text-align:center"/></td>
                        <td><input class="form-control" ng-model="newData.weight" style="text-align:center"/></td>
                        <td><input class="form-control" ng-model="newData.recommendedweight" style="text-align:center"/></td>
                        <td style="text-align:center"><button class="btn waves-effect waves-light blue darken-3" ng-click="addData()"><i class="material-icons">add</i></button></td>
                    </tr>
                    -->
                    <tr class="grey lighten-2">
                        <td>
                            <!--
                            <select>
                                <option ng-repeat="dataUnit in data" value={{dataUnit.variable}}>{{dataUnit.variable}}</option>
                            </select>
                            -->
                            <input list="options" name="newVariable" ng-model="newData.variable" ng-change="updateNewRecWeight(newData.variable)">
                            <datalist id="options">
                                <option ng-repeat="dataUnit in allData" value={{dataUnit.variable}}>{{dataUnit.variable}}</option>
                            </datalist>
                        </td>
                        <td><input class="form-control" ng-model="newData.weight" style="text-align:center"/></td>
                        <td>
                            <div style="text-align:center" ng-model="newData.recommendedweight">{{dataToAdd[0].recommendedweight}}</div>
                            <!--<div style="text-align:center" ng-repeat="dataUnit in dataToAdd" ng-model="newData.recommendedweight">{{dataUnit.recommendedweight}}</div>-->
                        </td>
                        <td style="text-align:center"><button class="btn waves-effect waves-light blue darken-3" ng-click="editDataAdd(newData)"><i class="material-icons">add</i></button></td>
                    </tr>
                    <!--
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    -->
                </tbody>
            </table>
                
            <div class="container">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row">
                    <div class="col s3 offset-s3">
                        <button class="btn waves-effect waves-light green darken-1" ng-click="reset()">Default<i class="material-icons left">autorenew</i></button>
                    </div>
                    <div class="col s3">
                        <button class="btn waves-effect waves-light red darken-2" ng-click="clear()">Clear<i class="material-icons left">delete_forever</i></button>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="editModal" class="modal">
            <div class="modal-content">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th style="text-align:center">Variable</th>
                            <th style="text-align:center">Peso</th>
                            <th style="text-align:center">Peso Recomendado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">{{dataUnit.variable}}</td>
                            <td><input class="form-control" ng-model="updatedVariable.weight" style="text-align:center;"/></td>
                            <td style="text-align:center">{{dataUnit.recommendedweight}}</td>
                        </tr>
                    </tbody>
                </table>
                <p>Recuerda que la suma de los pesos debe ser 100</p>
            </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn-flat" ng-click="editData(updatedVariable)">
                    OK
                </button>
                <button class="modal-close waves-effect waves-red btn-flat">
                    Cancelar
                </button>
                <!--<a href="/#!/tennis/" class="modal-close waves-effect waves-green btn-flat">OK</a>-->
            </div>
        </div>
        
        <div id="editModal2" class="modal">
                <div class="modal-content">
                    <h5>Editar {{editDataUnit.oldVariable}}</h5>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <label class="col s6">Variable</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input class="form-control" type="text" id="variable" ng-model="editDataUnit.variable">
                                    <!--<label for="variable">Variable</label>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="weight" ng-model="editDataUnit.weight">
                                    <label for="weight">Peso</label>
                                </div>
                                <div class="input-field col s3">
                                    <input class="form-control" type="text" id="recommendedweight" ng-model="editDataUnit.recommendedweight">
                                    <label for="recommendedweight">Peso Recomendado</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-close waves-effect waves-green btn-flat" ng-click="editData(editDataUnit)">
                        OK
                    </button>
                    <button class="modal-close waves-effect waves-red btn-flat">
                        Cancelar
                    </button>
                </div>
            </div>
        
        
    </div>

    

    <!--</div>-->
</main>