<header>
    <div align="center"><img class="responsive-img" src="/resources/banner.png" alt="banner" align="center"></div>
</header>
<main>
    <div ng-controller="TennisCtrl">
        
        
        <div class="container" align="center">
            
            <div class="col s3" style="display:inline-block; font-size:40px;" ng-repeat="dataUnit in player1">
                {{dataUnit.name}}
                <img class="responsive-img" src="/resources/flags/{{dataUnit.nationality}}.png" alt="Bandera Jugador 1" hspace=10 style="border: 1px solid #000000; border-radius:50%;" />
            </div>
            
            <h5 style="display:inline-block; margin-left:70px;margin-right:70px;">VS</h5>
            
            <div class="col s3" style="display:inline-block; font-size:40px;" ng-repeat="dataUnit in player2">
                {{dataUnit.name}}
                <img class="responsive-img" src="/resources/flags/{{dataUnit.nationality}}.png" alt="Bandera Jugador 2" hspace=10 style="border: 1px solid #000000; border-radius:50%;"/>
            </div>
            <div class="row"></div>
            <div class="row" style="display:inline-block; font-size:25px;">Superficie: {{superficie}}</div>
        </div>
        
        
        <div class="container">
            <table class="highlight">
                <thead>
                    <tr>
                        <th style="text-align:center" width="14%">Variable</th>
                        <th style="text-align:center" width="14%">Peso (%)</th>
                        <th style="text-align:center" width="14%">Peso Recomendado</th>
                        <th style="text-align:center" width="14%">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataUnit in data">
                        <td style="text-align:center">{{dataUnit.variable}}</td>
                        <td style="text-align:center">{{dataUnit.weight}}</td>
                        <td style="text-align:center">{{dataUnit.recommendedweight}}</td>
                        <td style="text-align:center">
                            <button class="btn-floating waves-effect waves-light yellow darken-1 modal-trigger" ng-click="editDataModal(dataUnit)"><i class="material-icons">edit</i></button>
                            <button class="btn-floating waves-effect waves-light red" ng-click="editDataDelete(dataUnit)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                    
                    <tr class="grey lighten-2">
                        <td>
                            <input list="options" name="newVariable" ng-model="newData.variable" ng-change="updateNewRecWeight(newData.variable)">
                            <datalist id="options">
                                <option ng-repeat="dataUnit in allData" value={{dataUnit.variable}}>{{dataUnit.variable}}</option>
                            </datalist>
                        </td>
                        <td><input type="text" class="form-control" ng-model="newData.weight" style="text-align:center"/></td>
                        <td>
                            <div style="text-align:center" ng-model="newData.recommendedweight">{{dataToAdd[0].recommendedweight}}</div>
                        </td>
                        <td style="text-align:center"><button class="btn waves-effect waves-light blue darken-3" ng-click="editDataAdd(newData)" style="border-radius: 50px; width:80px"><i class="material-icons">add</i></button></td>
                    </tr>
                </tbody>
            </table>
                
            <div class="container">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row">
                    <div class="col s3">
                        <button style="height: 48px;	width: 150px;	margin-top:11px; border-radius: 24px;	background: linear-gradient(90deg, #FFDC00 0.05%, #FF8000 100%); text-align: center; color: white; font-size: 1.30rem;" ng-click="return()">Volver<i class="material-icons left">undo</i></button>
                    </div>
                    <div class="col s3">
                        <button style="height: 48px;	width: 150px;	margin-top:11px; border-radius: 24px;	background: linear-gradient(90deg, #FF4900 0.05%, #C60000 100%); text-align: center; color: white; font-size: 1.30rem;" ng-click="clear()">Limpiar<i class="material-icons left">delete_forever</i></button>
                    </div>
                    <div class="col s3">
                        <button style="height: 48px;	width: 150px;	margin-top:11px; margin-right:80px; border-radius: 24px;	background: linear-gradient(90deg, #00C9FF 0.05%, #0036FF 100%); text-align: center; color: white; font-size: 1.30rem;" ng-click="reset()">Reiniciar<i class="material-icons left">autorenew</i></button>
                    </div>
                    <div class="col s3">
                        <button style="height: 70px;	width: 170px;   margin-left:80px; border-radius: 24px;	background: linear-gradient(90deg, #BAC621 0.05%, #007935 100%); text-align: center; color: white; font-size: 1.60rem;" ng-click="predict()">Predecir</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="editModal" class="modal">
            <div class="modal-content" style="text-align:center;">
                <br/>
                <h4>Editar variable: {{editDataUnit.oldVariable}}</h4>
                <div class="row">
                    <br/><br/>
                    <form class="">
                        <div class="row">
                            <p  class="col s3">&nbsp;</p>
                            <h5 class="col s3" style="align:center;">Peso</h5>
                            <input class="form-control col s3" type="text" id="weight" ng-model="editDataUnit.weight" style="text-align:center;font-size:20px;margin-top:5px;;margin-left:3px;">
                        </div>
                        <div class="row">
                            <p class="col s3">&nbsp;</p>
                            <h5 class="col s3">Peso Recomendado: </h5>
                            <p class="col s3" style="font-size:20px; margin-top:30px;">{{editDataUnit.recommendedweight}}</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn-flat" ng-click="editData(editDataUnit)">
                        OK
                </button>
                <button class="modal-close waves-effect waves-red btn-flat" ng-click="editData2(editDataUnit)">
                        Cancelar
                </button>
            </div>
        </div>
        
        <div id="winnerModal" class="modal">
            <div class="modal-content" style="text-align:center;">
                <img class="responsive-img" src="/resources/pics/{{ganadorNS}}.png" alt="Imagen Ganador" width=150 height=150 style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;"/>
                <h4>Ganador: {{ganador.name}}</h4>
                <h5>Con una variación del {{diferencia}}</h5>
                <h5>({{puntuacionmayor}} frente a {{puntuacionmenor}})</h5>
            </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn-flat" ng-click="">
                        Predecir de nuevo
                </button>
                <button class="modal-close waves-effect waves-red btn-flat" ng-click="return()">
                        Cambiar jugadores
                </button>
            </div>
        </div>
    </div>
</main>